.header {
    height: 131px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  
    .headerTop {
        height: 40px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        color: white;

        .rakenduseValik {
            margin-left: clamp(40px, 15vw, 300px);
        }
    }
  
    .headerBottom {
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        padding: 0 56px;
        display: flex;
        align-items: flex-end;
        padding: 10px 0px 30px;

        a {
            background-color: white;
            margin-left: clamp(40px, 15vw, 300px);
            margin-top: 1px;
        }

        .image {
            filter: invert(0);
            position: absolute;
            top: 5px;
        }


        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(https://www.stat.ee/themes/stat/images/pattern.svg);
            background-repeat: repeat;
            background-position: 0 0;
        }
    }
}