.footer {
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(https://www.stat.ee/themes/stat/images/pattern-white.svg);
        background-repeat: repeat;
        background-position: 0 0;
        opacity: 0.3;
    }

    ul {
        display: flex; 
        list-style: none; 
        padding: 0;
        margin: 0;
        z-index: 1;
    }

    li {
        margin: 0 15px;
        color: white; 
        font-size: 14px;
        font-weight: bold;
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 475px) {

    .footer li {
        font-size: 12px;
    }
}

// @media (max-width: 430px) {

//     .footer li {
//         font-size: 11px;
//     }
// }

/* @media (max-width: 405px) {

    .footer li {
        font-size: 10px;
    }
}
 */
/* @media (max-width: 380px) {

    .footer li {
        font-size: 9px;
    }
}

@media (max-width: 350px) {

    .footer li {
        font-size: 8px;
    }
}

@media (max-width: 325px) {

    .footer li {
        font-size: 7px;
    }
} */

@media (max-width: 430px) {
    ul li:first-child {
        display: none;
    }
}